.App{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.form{
    display:inline-flexbox;
    text-align: center;
    font-size: 17px;
    background-color:rgb(207, 223, 193);
    line-height:1cm;
}
.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 22px;
  }
  input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .button{
    background-color: #b8a11f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-style:oblique;
    border-radius:5px;
    transition-duration: 0.7s;
  }
  .buttonCopy{
    background-color: #a81577; /* Green */
    border: none;
    color: white;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-style:oblique;
    border-radius:5px;
    transition-duration: 0.7s;
  }
  h5{
    color:rgb(202, 83, 70);
  }
  .label_char{
    margin-right:18px;
    }
  .label_spChar{
    margin-left: 63px;
  }
  .buttonUpper{
    background-color: #2a9c0d; /* Green */
    border: none;
    color: white;
    padding: 5px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-style:oblique;
    border-radius:5px;
    transition-duration: 0.7s;
  }